.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.main-container {
  overflow: auto;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column; /* each movie-bucket is a row */
  gap: 20px;
}

.movie-bucket {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.movie-bucket h1 {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.movie-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.movie {
  margin: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  position: relative;
  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 100px;
  height: 150px;
}

.movie:hover {
  transform: scale(1.3);
  z-index: 1;
}

.movie img {
  width: 100px;
  height: 150px;
  display: block;
  object-fit: cover; /* To maintain aspect ratio, even if the width and height are not proportional */
  transition: all .3s ease-in-out;
}

.movie .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background: rgba(0,0,0,0.75);
  color: white;
  transform: translateY(100%);
  transition: transform .3s ease-in-out;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: auto;
}

.movie h2 {
  font-size: 0.7rem;
  margin: 0 0 10px;
}

.movie p {
  font-size: 0.6rem;
  margin: 0 0 10px;
}

.movie:hover .content {
  transform: translateY(0%);
}

.movie:hover img {
  opacity: 0.3;
}

.movie .rating {
  margin: 0 0 10px;
  font-size: 0.6rem;
}

.movie .rating-item {
  margin-right: 0.25rem;
}